/* ELEMENTS */

a {
	@extend .textDecoration-none, .cursor-pointer;

	&:hover {
		@extend .borderBottom-1, .borderColor-gold;
	}
}

button {
	@extend .bgColor-gold, .borderRadius-1, .cursor-pointer, .fontFamily-bold, .fontColor-white, .fontSize-1, .marginVertical-3, .paddingVertical-3, .paddingHorizontal-9, .letterSpacing, .textTransform-uppercase;

	&:disabled {
		@extend .bgColor-grey, .cursor-notAllowed;
	}
}

code {
	@extend .borderColor-white-20, .borderRadius-1, .borderWidth-1, .display-inlineBlock, .fontColor-code-green, .fontSize-3, .paddingHorizontal-1;
	font-family: monospace;
}

header {
	z-index: 2;

	*{
		@extend .fontFamily-minion;
	}

	a {
		@extend .paddingBottom-2, .fontSize-6;
	}

	ul li {
		@extend .display-inlineBlock, .marginRight-8;
	}
}

footer {
	@extend .bgColor-black, .fontColor-white;
}

ul {
	@extend .listStyleType-none;
}

h1 {
	@extend .fontSize-8, .marginTop-6, .marginBottom-8;
}

h2 {
	@extend .fontSize-4;
}

h3 {
	@extend .marginTop-8, .marginBottom-4;
}

h4 {
	@extend .marginTop-6, .marginBottom-4, .fontStyle-italic;
}

h1,
h2,
h3,
h4 {
	@extend .fontFamily-minion;
}

main {
	@extend .bgColor-parchment, .overflowX-hidden;

	ul {
		@extend .listStyleType-circle, .marginLeft-10, .marginVertical-4, .lineHeight-7;
	}

	&::before {
		@extend .height-13, .bgColor-white, .position-absolute;
		width: 110%;
    	border-bottom-left-radius: 50%;
    	border-bottom-right-radius: 50%;
    	content: "";
    	margin: -4.5rem 0 -10rem -5rem;
    	z-index: 1;
    }
}

nav {
	@extend .padding-7, .textAlign-center, .width-whole, .bgColor-grey, .display-block;

	ul {
		@extend .listStyleType-none;

		li {
			@extend .display-inlineBlock, .fontFamily-minion, .fontSize-8, .marginRight-4;
		}

		ul {
			@extend .display-none;
		}

		a {
			@extend .fontSize-5;
		}
	}
}

table {
	@extend .width-whole, .borderWidth-1, .borderRadius-1;

	tr:first-of-type {
		td {
			@extend .borderBottom-1;
		}
	}

	td {
		@extend .padding-5;
	}
}

p {
	@extend .marginBottom-2;
}

label {
	@extend .fontFamily-bold, .fontSize-1, .letterSpacing, .marginBottom-2, .display-inlineBlock; 
}

input {
	@extend .borderColor-white-20, .borderWidth-1, .borderRadius-1, .display-block, .fontFamily-book, .fontSize-3, .marginBottom-5, .paddingVertical-2, .paddingHorizontal-5, .width-whole;

	&:focus {
		@extend .borderColor-primary, .outline-none;
	}

	&:disabled{
		@extend .cursor-notAllowed;
	}
}

[type="checkbox"] {
	@extend .height-4, .width-4;

	& + span::before {
		@extend .borderWidth-1, .borderRadius-1, .borderColor-white-20, .transition-none;
	}

	&:checked + span:before {
		@extend .bgSize-2, .bgRepeat-noRepeat, .bgPosition-centerCenter;
	}
}

[type="radio"],
[type="radio"] + span::before {
	@extend .borderRadius-6, .borderWidth-1, .borderRadius-1, .borderColor-white, .boxShadow, .transition-easeAll--015;
}

[type="radio"] {

	&:checked + span::before {
		@extend .bgColor-gold, .boxShadow;
	}
}

[type='checkbox'],
[type='radio'] {
	@extend .margin-0, .opacity-0, .position-absolute;

	& + span:before {
		@extend .boxSizing-borderBox, .content-empty, .display-inlineBlock, .height-4, .marginRight-2, .verticalAlign-middle, .width-4;
	}

	&:disabled + span::before,
	&:disabled + span::before {
		@extend .cursor-notAllowed, .opacity-6;
	}
}