/* TRUMPS (MAKES YOUR WEBSITE GREAT AGAIN) */

// Sizes
@each $item, $value in $size {

	// Background Position X
	.bgPositionX-#{$item} {
		background-position-x : $value;
	}

	// Background Position Y
	.bgPositionY-#{$item} {
		background-position-y : $value;
	}

	// Background Size
	.bgSize-#{$item} {
		background-size : $value;
	}

	// Height
	.height-#{$item} {
		height : $value;
	}

	// Width
	.width-#{$item} {
		width : $value;
	}

	// Margin
	.margin-#{$item} {
		margin : $value;
	}

	.marginTop-#{$item} {
		margin-top : $value;
	}

	.marginRight-#{$item} {
		margin-right : $value;
	}

	.marginBottom-#{$item} {
		margin-bottom : $value;
	}

	.marginBottom-minus-#{$item} {
		margin-bottom : -$value;
	}

	.marginBottom-#{$item}--important {
		margin-bottom : $value !important;
	}

	.marginLeft-#{$item} {
		margin-left : $value;
	}

	.marginVertical-#{$item} {
		@extend .marginTop-#{$item}, .marginBottom-#{$item};
	}

	.marginHorizontal-#{$item} {
		@extend .marginLeft-#{$item}, .marginRight-#{$item};
	}

	// Padding

	.padding-#{$item} {
		padding : $value;
	}

	.paddingTop-#{$item} {
		padding-top : $value;
	}

	.paddingRight-#{$item} {
		padding-right : $value;
	}

	.paddingBottom-#{$item} {
		padding-bottom : $value;
	}

	.paddingLeft-#{$item} {
		padding-left : $value;
	}

	.paddingVertical-#{$item} {
		@extend .paddingTop-#{$item}, .paddingBottom-#{$item};
	}

	.paddingHorizontal-#{$item} {
		@extend .paddingLeft-#{$item}, .paddingRight-#{$item};
	}

	// Fonts

	.fontSize-#{$item} {
		font-size : $value;
	}

	// Line Heights

	.lineHeight-#{$item} {
		line-height : $value;
	}

	.letterSpacing-#{$item} {
		letter-spacing: $value;
	}

	// Location

	.top-#{$item} {
		top : $value;
	}

	.bottom-#{$item} {
		bottom : $value;
	}

	.left-#{$item} {
		left : $value;
	}

	.right-#{$item} {
		right : $value;
	}

	// Borders

	.borderWidth-#{$item} {
		border-width : $value;
	}

	.borderHorizontal-#{$item} {
		border-left : $value solid;
		border-right : $value solid;
	}

	// Outline

	.outlineWidth-#{$item} {
		outline-width : $value;
	}

	// Max Height

	.maxHeight-#{$item} {
		max-height : $value;
	}

}

//TODO : REWORK BELOW

.borderWidth-1{
	border-width: 1px;
	border-style: solid;
}

.borderRight-1 {
	border-right: 1px solid;
}

.borderTop-1 {
	border-top: 1px solid;
}

.borderTop-2 {
	border-top : 1rem solid;
}

.borderBottom-1 {
	border-bottom: 1px solid;
}

.borderVertical-1 {
	border-top: 1px solid;
	border-bottom: 1px solid;
}

.borderRadius-1{
	border-radius: .2rem;
}

.borderRadius-6 {
	border-radius : 2rem;
}

.border-none {
	border : none;
}

.borderRadius-1-bottom {
	border-radius : 0 0 2px 2px;
}

.borderRadius-1-top {
	border-radius : 2px 2px 0 0;
}

.borderStyle-solid {
	border-style : solid;
}

.outlineStyle-solid {
	outline-style : solid;
}

.outlineOffset-2--negative {
	outline-offset : -1rem;
}

.opacity-0 {
	opacity : 0;
}

.opacity-6 {
	opacity : .6;
}

// END TODO

// Widths
@each $item, $value in $width {

	// Viewport Width

	.width-#{$item}-vw {
		width : #{$value}vw;
	}

	.width-#{$item} {
		width : #{$value}unquote("%");
	}

	.maxWidth-#{$item} {
		max-width : #{$value}unquote("%");
	}

	.top-#{$item} {
		top : #{$value}unquote("%");
	}

	.right-#{$item} {
		right : #{$value}unquote("%");
	}

	.bottom-#{$item} {
		bottom : #{$value}unquote("%");
	}

	.left-#{$item} {
		left : #{$value}unquote("%");
	}

	.bgSize-#{$item} {
		background-size : #{$value}unquote("%");
	}
}

// Colors

@each $item, $value in $color {

	// Background Colors

	.bgColor-#{$item} {
		background-color : $value;
	}

	// Font Colors

	.fontColor-#{$item} {
		color: $value;
	}

	// Border Colors

	.borderColor-#{$item} {
		border-color: $value;
	}

	// Outline Colors

	.outlineColor-#{$item} {
		outline-color : $value;
	}

}

// Background

.bgRepeat-noRepeat {
	background-repeat : no-repeat;
}

.bgSize-cover {
	background-size : cover;
}

.bgPosition-centerCenter {
	background-position : center center;
}

.bgPositionY-center {
	background-position-y : center;
}

.bgPositionX-center {
	background-position-x : center;
}

.bgAttachment-fixed {
	background-attachment : fixed;
}

// Box-Sizing

.boxSizing-borderBox {
	box-sizing : border-box;
}

// Box-Shadow

.boxShadow {
	box-shadow : 0 0 0 .1rem #B7B7B7;
}

// Content

.content-empty {
	content : '';
}

// Cursor

.cursor {
	&-pointer {
		cursor : pointer;
	}

    &-notAllowed {
		cursor : not-allowed;
	}

    &-progress {
		cursor : not-allowed;
	}
}

// Display

@each $item, $value in $display {

	.display-#{$item} {
		display : $value;
	}

}

// Height

.height-100vh {
	height : 100vh;
}

// Width

.width-100vw {
	width : 100vw;
}

// Flex

.flexWrap-wrap {
	flex-wrap : wrap;
}

.flexDirection-row {
	flex-direction : row;
}

// Fonts

.fontFamily {
	&-light {
		font-family : Gotham-Light;
	}

	&-book {
		font-family : Gotham-Book;
	}

	&-medium {
		font-family : Gotham-Medium;
	}

	&-bold {
		font-family : Gotham-Bold;
	}

	&-thin {
		font-family : Gotham-Thin;
	}

	&-minion {
		font-family : Minion Pro;
	}
}

// Font Style

.fontStyle-italic{
	font-style: italic;
}

// Letter Spacing 

.letterSpacing {
	letter-spacing : 0.05rem;
}

// Left (Other)

.left-20 {
	left: 20vw;
}

// List Style Types

.listStyleType {
	&-circle {
		list-style-type : circle;
	}

	&-none {
		list-style-type : none;
	}
}

// Margin

.margin-auto {
	margin : auto;
}

// Outline

.outline-none {
	outline : none;
}

// Overflow

.overflowX-hidden {
	overflow-x : hidden;
}

.overflowY-scroll {
	overflow-y : scroll;
}

.overflowY-hidden {
	overflow-y : hidden;
}

// Float

.float-left {
	float: left;
}

.float-right {
	float: right;
}

// Position

.position {
	&-fixed {
		position : fixed;
	}

	&-relative {
		position: relative;
	}

	&-absolute {
		position: absolute;
	}
}

// States

.error {
	@extend .borderColor-danger;

	&-validation {
		@extend .fontColor-danger;
		margin-top: -1.5rem;
	}
}

// Text Align

.textAlign {
	&-right {
		text-align : right;
	}

	&-left {
		text-align : left;
	}

	&-center {
		text-align : center;
	}
}

// Text Transform

.textTransform {

	&-uppercase {
		text-transform: uppercase;
	}

	&-lowercase {
		text-transform: lowercase;
	}

	&-capitalize {
		text-transform: capitalize;
	}
}

// Text Decoration

.textDecoration {

	&-linethrough {
		text-decoration : line-through;
	}

	&-overline {
		text-decoration : overline;
	}

	&-underline {
		text-decoration : underline;
	}

	&-none {
		text-decoration : none;
	}
}

// Transitions

.transition-none {
	transition : none;
}

.transition-easeAll--015 {
	transition : 0.15s ease all;
}

// Vertical Align

.verticalAlign-top {
	vertical-align : top;
}

.verticalAlign-middle {
	vertical-align : middle;
}

.verticalAlign-bottom {
	vertical-align : bottom;
}

// Visibility

.visibility {
	&-hidden {
		visibility : hidden;
	}

	&-visible {
		visibility : visible;
	}
}

.marginTop-minus-30vh {
	margin-top: -30vh !important;
}